
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../assets/fonts/neue-machina-regular.otf');
  }

body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,47,122,1) 21%, rgba(47,47,122,1) 21%);
}
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

.main {
    margin: .1rem;
    padding: .1rem;
    border: 1px solid #fff;
    border-radius: .1rem;
}

.main::before, 
.main::after  {
    content: '';
    background-image: url('/assets/img/backgroud.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 70vw;
    height: 70vh;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);

}

@media only screen and (min-width: 768px) {

    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before, 
    .main::after {
        width: 70vw;
    }

}



